<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>메인 페이지</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/cssmain.css}">
</head>
<style>
    a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
</style>

<body>
    <div class="container">
      <header>
        <p>대구, 경산 시내버스 승하차 예약 시스템</p>
        <ul>
          <li><a href="/">홈</a></li>
          <li><a href="/bus/list">정류장 검색/예약</a></li>
          <li><a href="/reserve/list">예약 확인</a></li>
        </ul>
      </header>
      <section>
        <img src="https://img.freepik.com/free-vector/bus-driver-concept-illustration_114360-6330.jpg?size=626&ext=jpg" alt="bus" height="750" width="1000px">
      </section>
      <footer>
        <ul>
          <li>ID : <span sec:authentication="name"></span> <br></li>
          <!--<li>권한 : <span sec:authentication="authorities"></span> <br></li>-->
          <li>
            <form id="logout" action="/logout" method="POST">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="submit" value="로그아웃"/>
            </form>
          </li>
        </ul>
      </footer>
    </div>
</body>
</html>